body{
	margin: 0px;
}

header {
	background-color: lightblue;
} 
#background {

	background-color: rgba(255, 99, 71, 0.4);
	border-style: inset;
	display: flex;
}
nav {
	background-color: lightpink;
} 

ul {
	margin: 0px;
	list-style: none;
	display: flex;
	justify-content: flex-end;

}

li {
	margin: 20px 10px;
}
  

 

#header-text {
	background-image: url(https://images.unsplash.com/photo-1587317997383-2e6c1b24040f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
	height: 400px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

 h1{
 	margin:0px;
 	text-decoration-color: yellow;
 }

section{
	background-color : lightgrey;
}

.sec1-text{
	height: 200px;
	width: 300px;
	background-color : peachpuff;	
	margin: 10px;
	padding: 10px;

}

#section1{
	display: flex; 
	flex-wrap: wrap;
	justify-content: center ;
}

section{
	background-color: lightgrey;
	border: solid black 1px;
}

footer {
	background-color: lightblue;
}


